@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&family=Yeseva+One&display=swap");

:root {
  --primary-color: #3853a8;
  --footer-color: #060e30;
  --body-color: #d9d9d9;

  --heading-font: "Yeseva One", serif;
  --paragraph-font: "League Spartan", sans-serif;

  --light-weight-300: 300;
  --regular-weight-400: 400;
  --medium-weight-500: 500;
  --semibold-weight-600: 600;
  --bold-weight-700: 700;
  --extrabold-weight-800: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
}
